{% assign free_variety_pack_found_in_cart = false %}
{% for lineItem in cart.items %}
  {% if lineItem.properties['_variety_pack'] %}
    {% assign free_variety_pack_found_in_cart = true %}
  {% endif %}
{% endfor %}
<div class="slider" id="main-slider">    
    <div class="slider_wrapper">
        {% if settings.enable_gummies_offer_on_announcement_bar %}
            <div class="slide" id="offer_gummies">
                {% render 'announce-gummies-offer' %}
            </div>
        {% endif %}
        {% assign renderSlide = true %}
        {% if settings.enable_free_variety_pouch_offer == false and product and product.handle == 'chill-cbd-isolate-chew-pouches' %}
            {% assign renderSlide = false %}
        {% endif %}
        <!-- {% if settings.enable_free_variety_pouch_offer == false %}
        {% assign renderSlide = false %}
        {% endif %} -->

        {% if free_variety_pack_found_in_cart == false and renderSlide %}
            <div class="slide" id="variety_pack" >
                {% if product.handle != 'chill-cbd-isolate-chew-pouches' and request.page_type == 'index' or request.page_type == 'product' %}
                    {% render 'free-variety-pack' free_variety_pack_found_in_cart: free_variety_pack_found_in_cart %}
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>