{% if customer %}
  {% if request.page_type == 'product' and product.handle != 'chill-cbd-isolate-chew-pouches' %}
    <div class="claim_banner_product_page_container" id="claimBannerProductPage">
      <div class="claim_banner_product_page">
        <p class="claim_banner_text">If you’re new to Chill pouches, Try our
          <span>FREE VARIETY</span>
          pack today and find your favorite flavor. Just pay $3.99 for shipping</p>
        <button class="claim_banner_button">ADD TO CART</button>
      </div>
    </div>
  {% endif %}
{% elsif product.handle != 'chill-cbd-isolate-chew-pouches' %}
  <div class="claim_banner_product_page_container" id="claimBannerProductPage">
    <div class="claim_banner_product_page">
      <p class="claim_banner_text">If you’re new to Chill pouches, Try our
        <span>FREE VARIETY</span>
        pack today and find your favorite flavor. Just pay $3.99 for shipping</p>
      <button class="claim_banner_button" onclick="document.getElementById('claimDrawerContainer').style.display='block'; document.getElementById('claimDrawerBackground').style.display='block';">CLAIM IT NOW</button>
    </div>
  </div>
{% endif %}
{% if settings.enable_free_variety_pouch_offer and request.page_type == 'index' %}
  <div class="claim_banner_home_page">
    <span class="close_banner_button" onclick="document.querySelector('.claim_banner_home_page').style.display='none'">{% render 'svg-close' %}</span>
  </div> 
{% endif %}
{% schema %}
  {
    "name": "Free variety pouch",
    "settings":[]
   }
{% endschema %}