@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
/* header css here */
.pageheader .logo-area .logo-area__left .navigation ul li a {
  font-weight: 600;
  font-size: 18px;
}
.pageheader .logo-area .logo-area__right .logo-area__right__inner a {
  font-size: 18px;
  font-weight: 600;
}
.pageheader .logo-area .logo-area__right .logo-area__right__inner .header-account-link, .pageheader .logo-area .logo-area__right .logo-area__right__inner .show-search-link {
  margin-inline-end: 32px;
}
.pageheader .logo-area .logo-area__right .logo-area__right__inner .header-account-link {
  display: none;
}
.pageheader .logo-area .logo-area__right .logo-area__right__inner .header-account-link .header-account-link__text {
  margin-inline-start: 10px;
}
@media (min-width: 1200px) {
  .pageheader .logo-area .logo-area__right .logo-area__right__inner .header-account-link {
    display: block;
  }
}
.pageheader .logo-area .logo-area__right .logo-area__right__inner .cart-link .cart-link__label {
  margin-inline-start: 10px;
}
.pageheader .logo-area .logo-area__right .logo-area__right__inner .cart-link .cart-link__icon.custom_bag .cart-link__count {
  background: transparent;
  font-size: 12px;
  top: 4px;
  right: 4px;
  font-weight: 600;
  color: #9792E4;
}

/* footer css here */
@media (min-width: 768px) {
  #pagefooter .section-footer__row.section-footer__row--block {
    padding-bottom: 45px;
  }
}
#pagefooter .section-footer__row .section-footer__row__col {
  display: flex;
  flex-direction: column;
}
#pagefooter .section-footer__row .section-footer__row__col.section-footer__text-block .section-footer__text-block__social {
  margin-top: auto;
}
#pagefooter .section-footer__row .section-footer__row__col.section-footer__text-block .section-footer__title {
  text-transform: inherit;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  #pagefooter .section-footer__row .section-footer__row__col.section-footer__text-block .section-footer__title {
    margin-bottom: 10px;
  }
}
#pagefooter .section-footer__row .section-footer__row__col.section-footer__text-block .section-footer__text-block__image {
  margin-bottom: 28px;
}
#pagefooter .section-footer__row .section-footer__row__col.section-footer__menu-block {
  flex: 0 1 50%;
}
@media (min-width: 1200px) {
  #pagefooter .section-footer__row .section-footer__row__col.section-footer__menu-block {
    flex: inherit;
  }
}
#pagefooter .section-footer__row .section-footer__row__col.section-footer__menu-block .section-footer__title {
  font-weight: bold;
  font-size: 22px;
}
#pagefooter .section-footer__row .section-footer__row__col.section-footer__menu-block .section-footer__menu-block__menu li a {
  font-size: 18px;
  font-weight: normal;
}
#pagefooter .footer_wrapper_middle {
  text-align: center;
  padding: 28px;
  margin: 0 auto 30px;
  border: 1px solid #707070;
}
@media (min-width: 1200px) {
  #pagefooter .footer_wrapper_middle {
    margin: 0 auto 70px;
  }
}
#pagefooter .footer_wrapper_middle .section-footer__text {
  margin-bottom: 0;
}
#pagefooter .footer_wrapper_middle p {
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
}
@media (min-width: 1200px) {
  #pagefooter .footer_wrapper_middle p {
    width: 80%;
  }
}
#pagefooter .footer-bottom {
  background-color: #E9E9F3;
}
#pagefooter .footer-bottom .section-footer__row-lower {
  align-items: center;
}
@media (min-width: 768px) {
  #pagefooter .footer-bottom .section-footer__row-lower {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
}
#pagefooter .footer-bottom .section-footer__payment-icons {
  margin-bottom: 0;
}
#pagefooter .footer-bottom .copyright {
  font-size: 14px;
  font-weight: 500;
}

bugherd-sidebar {
  display: none !important;
}

body {
  font-family: "Open Sans", sans-serif !important;
  font-size: 16px;
}

/*announcement bar*/
.announcement .announcement__text p {
  font-size: 16px;
  font-weight: 600;
}
.announcement .announcement__text p strong {
  font-weight: 800;
}

/*section-background-video css here*/
.section-background-video .video-container .overlay-text .overlay-text__inner .overlay-text__text .overlay-text__title {
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
}
@media (min-width: 1200px) {
  .section-background-video .video-container .overlay-text .overlay-text__inner .overlay-text__text .overlay-text__title {
    font-weight: 800;
    text-transform: inherit;
  }
}
.section-background-video .video-container .overlay-text .overlay-text__inner .overlay-text__text .overlay-text__rte p {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
.section-background-video .video-container .overlay-text .overlay-text__inner .overlay-text__text .overlay-text__button-row .overlay-text__button.button {
  border-radius: 2em !important;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 40px;
  font-family: "Open Sans", sans-serif;
}

/* section-rich-text rich text css here*/
.section-rich-text .article .majortitle {
  font-family: "Open Sans", sans-serif;
  font-size: 52px;
  text-transform: inherit;
  margin-bottom: 12px;
  color: #000000;
}
.section-rich-text .article .majortitle p {
  margin-bottom: 0;
}
.section-rich-text .article .rte p {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  margin-bottom: 30px;
  color: #000000;
}
.section-rich-text .article .button-row__button {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 600;
  text-underline-offset: 6px;
  text-decoration-color: #000000;
}

/*newsletter css here*/
.section-newsletter .section-signup {
  position: relative;
}
.section-newsletter .section-signup .hometitle {
  font-size: 52px;
  font-weight: 800;
  color: #E9E9F3;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
  text-transform: inherit;
}
.section-newsletter .section-signup .rte {
  font-size: 24px;
  color: #E9E9F3;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 30px;
}
.section-newsletter .section-signup .rte a {
  color: #E9E9F3;
  text-decoration: none;
}
.section-newsletter .section-signup .signup-form .signup-form__inline-container {
  flex-direction: column;
}
.section-newsletter .section-signup .signup-form .signup-form__inline-container .signup-form__email {
  margin-inline-end: 0;
  border-radius: 2em;
  margin-bottom: 30px;
  width: 92%;
  padding: 1em 15px;
  text-align: center;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
@media (min-width: 1200px) {
  .section-newsletter .section-signup .signup-form .signup-form__inline-container .signup-form__email {
    width: 380px;
  }
}
.section-newsletter .section-signup .signup-form .signup-form__inline-container .signup-form__button {
  border-radius: 2em;
  font-size: 16px;
  padding: 1em 15px;
  font-family: "Open Sans", sans-serif;
  width: 92%;
}
@media (min-width: 1200px) {
  .section-newsletter .section-signup .signup-form .signup-form__inline-container .signup-form__button {
    width: 380px;
  }
}
.section-newsletter .section-signup .newletter_logo_sec {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}
.section-newsletter .section-signup .newletter_logo_sec .logo_wrap_icon {
  background: #fff;
  border-radius: 50%;
  border: 10px solid #fff;
}
.section-newsletter .section-signup .newletter_logo_sec .logo_wrap_icon svg {
  width: 90px;
  height: 90px;
}
@media (min-width: 1200px) {
  .section-newsletter .section-signup .newletter_logo_sec .logo_wrap_icon svg {
    width: 136px;
    height: 136px;
  }
}

.desktop {
  display: block;
}
@media (max-width: 1023px) {
  .desktop {
    display: none;
  }
}

.mobile {
  display: none;
}
@media (max-width: 1023px) {
  .mobile {
    display: block;
  }
}

.banner_wrapper {
  max-width: 100%;
  height: 712px;
  position: relative;
}
.banner_wrapper .banner_text {
  width: 41%;
  height: 258px;
  margin: auto 72px;
  position: absolute;
  top: 30%;
}
.banner_wrapper .banner_text p {
  font-family: "Open Sans", regular;
  line-height: 1.2;
  margin: 0;
  text-transform: none;
}
.banner_wrapper .banner_text p strong {
  font-weight: 800;
}
.banner_wrapper .banner_btn {
  width: 210px;
  margin-top: 30px;
  border-radius: 29px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border: #FFAC9A;
}

@media (max-width: 640px) {
  .banner_wrapper {
    width: 100%;
    height: 466px;
    background-position: center right 7.5% !important;
  }
  .banner_wrapper .banner_text {
    width: 90% !important;
    height: 258px;
    margin: 30px 20px;
    position: absolute;
    top: 100%;
  }
  .banner_wrapper .banner_text p {
    font-family: "Open Sans", regular;
    line-height: 1.2;
    margin: 0;
    text-transform: none;
  }
  .banner_wrapper .banner_text p strong {
    font-weight: 800;
  }
}
.features_wrapper {
  margin: 110px 10% 0 10%;
}
.features_wrapper .features_header h1 {
  text-transform: none;
}
.features_wrapper .block_wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 270px;
}
.features_wrapper .block_wrapper .feature_blocks {
  display: flex;
  margin-bottom: 70px;
}
.features_wrapper .block_wrapper .feature_blocks .feature_icon {
  margin: auto 40px 0 0;
}
.features_wrapper .block_wrapper .feature_blocks .feature_icon svg {
  width: 125px;
  height: 125px;
}
.features_wrapper .block_wrapper .feature_blocks .feature_text {
  font-size: 20px;
  color: #000;
  font-weight: bold;
  margin: auto 0;
}

.join_program {
  background: #F2F2F3;
  margin: 0;
  padding: 110px 320px;
  text-align: center;
}
.join_program .join_text {
  font-size: 52px;
  color: #000;
  line-height: 1.2;
}
.join_program .join_btn {
  width: 240px;
  height: 60px;
  color: #fff;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bolder;
}

@media (max-width: 640px) {
  .features_wrapper {
    margin: 309px 20px 0 20px;
  }
  .features_wrapper .block_wrapper {
    grid-template-columns: auto;
  }
  .features_wrapper .block_wrapper .feature_blocks {
    flex-direction: column;
    text-align: center;
  }
  .features_wrapper .block_wrapper .feature_blocks .feature_icon {
    margin: auto 0 20px 0;
  }
  .features_wrapper .block_wrapper .feature_blocks .feature_text {
    font-size: 18px;
  }
  .join_program {
    padding: 60px 20px;
  }
  .join_program .join_text {
    font-size: 38px;
  }
  .join_program .join_btn {
    width: 210px;
    height: 58px;
  }
}
@keyframes scroll {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateX(-2250px);
  }
}
.slider_wrapper {
  width: 100%;
  height: 700px;
  overflow: hidden;
}
.slider_wrapper .slider_images {
  max-width: 601px;
  height: 707px;
  display: flex;
  animation: scroll 40s linear infinite;
}
.slider_wrapper .slider_images img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 640px) {
  .slider_wrapper {
    height: 375px;
  }
  .slider_wrapper .slider_images {
    width: 319px;
  }
}