.claim_drawer_background{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 5000;
}
.claim_drawer_container{
    z-index: 5001;
    opacity: 1;
    width: 40%;
    overflow: auto;
    @media (max-width: 1024px) {
        width: 60%;
    }
    @media (max-width: 560px) {
        width: 95%;
    }
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 100%;
    height: 100%; 
    opacity: 0;
    visibility: hidden;
    &.claim-drawer-open {
        transform: translateX(-100%);
        transition: transform 0.5s;
        visibility: visible;
        opacity: 1;
    }
    .claim-drawer-summary__close{
        position: absolute;
        right: 0;
        margin: 21px;
        cursor: pointer;
    }
    .how_it_works_wrapper{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin: 86px 65px;
        .how_it_works_image{
            border-radius: 15px;
        }
        .how_it_works_title{
            font-size: 42px;
            font-weight: 800;
            margin-top: 26px;
        }
        .how_it_works_description{
            ul{
                list-style-type: none; 
            }
            ul li{
                list-style: none;
                color: #000;
                font-weight: 600;
            }
            ul li::before {
                content: "\2022";
                color: #FFAC9A;
                font-weight: bold;
                font-size: 200%;
                display: inline-block; 
                width: 13px;
                margin-left: -1em;
                margin-right: 16px;
                transform: translateY(15%);
              }
        }
        .login_signup_button{
            margin: auto;
            width: 100%;
            border-radius: 40px;
            margin-top: 45px;
            font-size: 20px;
            font-weight: 800;
        }
    }

    .account_login {
        height: 100%;
        margin: 86px auto;
        .claim-small-form{
            position: relative;
            top: 30%;
            transform: translateY(-50%);
            max-width: 80% !important;
            #claim-template{
                .template_header{
                    margin-bottom: 40px;
                }
                #customer_login, #create-customer{
                    input{
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
.claim_info_container{
    display: flex;
    border: 2px solid #000000;
    border-radius: 10px;
    background: #FFFBFA;
    padding: 13px 20px;
    width: 38vw;
    box-shadow: 5px 5px #FFAC9A;
    .offer_content_container{
        flex-basis: 60%;
        display: flex;
        flex-direction: column;
        
        .offer_content{
            color: #000;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 0;
            line-height: 1.2;
            span{
                font-size: 24px;
                font-weight: 800;
                color: #ffac9a;
            }
        }
    }
    .button_container{
        flex-basis: 40%;
        margin: auto;
        .claim_drawer_button{
            width: 100%;
            background: #FFAC9A;
            border: 2px solid #000000;
            border-radius: 5px;
            font-size: 18px;
            font-weight: 800;
            color: #000;
            padding: 12px 19px;
        }
    }
}
.claim_success_message{
    margin-top: 10px;
    color: #6EC59F;
    font-size: 16px;
    font-weight: 600;
    svg{
        margin-right: 5px;
    }
}
.claim_fail_message{
    margin-top: 10px;
    color: red;
    font-size: 16px;
    font-weight: 600;
    svg{
        margin-right: 5px;
    }
}
.claim_banner_product_page_container{
    .claim_banner_product_page{
        border: 2px solid #000;
        border-radius: 10px;
        padding: 11px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: 95%;
        margin: 17px auto;
        .claim_banner_text{
            font-size: 18px;
            font-weight: 600;
            color: #000;
            margin-bottom: 0;
            flex-basis: 80%;
            span{
                font-size: 18px;
                font-weight: bold;
                color: #ffac9a;
            }
        }
        .claim_banner_button{
            width: 100%;
            background: #FFAC9A;
            border: 2px solid #000000; 
            border-radius: 5px;
            font-size: 18px;
            font-weight: 800;
            color: #000;
            padding: 12px 19px;
            flex-basis: 20%;
        }
    }
}
.claim_banner_home_page{
    display: flex;
    justify-content: space-between;
    .claim_banner_product_page_container{
        flex-basis: 100%;
    }
    .close_banner_button{
        margin: auto 20px auto 0;
    }
}