.media-img-block-contanier {
    width: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    margin-bottom: 3%;
    display: flex;

    .media-image_text_block_main {
        width: 85%;
        display: flex;
        margin: 0 auto;
        .media_image_text_block {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding-top: 6%;
            padding-bottom: 6%;

            >* {
                margin-left: 5.55%;
                margin-right: 5.55%;
            }

            > :first-child {
                margin-left: 0;
            }

            .media-page-image-block {
                .media-text-block-img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-basis: initial;

                    img {
                        width: 100%;
                        height: auto;
                        max-height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .media_page_text_section {
                .media-page-headeing {
                    padding-bottom: 2%;

                    h3 {
                        font-weight: 600;
                        p{
                            margin-bottom: 0;
                        }
                    }
                }
                .content-mediapage-block {
                   
                    p{
                        font-weight: 400;
                        margin-bottom: 0;
                        margin-bottom: 10%;
                    }
                }

                .media-page-btn-block {
                    max-width: fit-content;

                    a {
                        padding: 15px 60px;
                        border-radius: 40px;
                        font-weight: 600;
                    }
                }

                .media-block-margin {
                    margin: 0 auto;
                }
            }
        }
    }
}
.media-page-no-content {
    text-align: center;
    padding: 5%;
    .media-image_text_block_main {
        .media_image_text_block {
            >* {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}