.gummies_offer_wrapper{
    padding: 1em 25px;
    .gummies_offer_container{
        border: 3px solid #FFAC9A;
        border-radius: 4px;
        padding: 21px 25px;
        @media (max-width: 767px){
            padding: 10px 15px;
        }
        .gummies_offer_text{
            text-align: center;
            font-size: 15px;
            color: #000;
            @media (max-width: 767px){
                font-size: 14px;
            }
            a{
                font-weight: bold;
                text-decoration: underline;
            }
            p{
                margin-bottom: 0;
            }
        }
        .gummies_offer_button_wrapper{
            display: flex;
            text-align: center;
            margin: 10px 0 auto;
            justify-content: center;
            @media (max-width: 767px){
                flex-direction: column;
                gap: 5px;
            }
            .gummies_offer_cart_button{
                width: 170px;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: bold;
                border-radius: 50px;
                border: 0;
                @media (max-width: 767px){
                    width: 140px;
                    font-size: 14px;
                }
                &:hover{
                    background: #FFAC9A;
                }
            }
            .gummies_offer_terms_and_conditions{
                font-size: 14px;
                margin: auto;
                @media (max-width: 767px){
                    font-size: 10px;
                }
            }
        }
    }
}