@media (max-width: 767px){
    .shopify-section.pouch_offer_mobile{
        border-top: 1px solid #D6D6D6;
        .claim_banner_product_page_container, .claim_success_message, .claim_fail_message{
            display: flex !important;
        }
    }
    .claim_banner_product_page_container, .claim_success_message, .claim_fail_message{
        display: none !important;
    }
}
.shopify-section.pouch_offer_mobile{
    .claim_banner_product_page_container, .claim_success_message, .claim_fail_message{
        display: none;
    }
    .claim_success_message, .claim_fail_message{
        justify-content: center;
    }
}
.claim_banner_product_page_container, .claim_success_message, .claim_fail_message{
    display: flex;
}
.claim_success_message, .claim_fail_message{
    justify-content: center;
}