.section-slideshow{
    .slideshow{
        @media(max-width: 767px){
            background:#F2F2F3;
        }
    }
    @media (max-width: 767px){
        .slick-list, .slick-dots{
            background: #F2F2F3 !important;
        }
    }
    .slick-arrow{
        border: 0px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: #fff !important;
        svg{
            display: none;
        }
        &::before{
            content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAALxJREFUSEu1lIENRVAMRdmMSRjhb4RN2MAo3wZ6eaQRtPRq8iLivnMSaZtnz6qVeC8HT1flrtQaArRK+TKJzOtegYZ3Qq1Ncgp4BK/hcFiCENwShOF3Agr8SkCDnwmo8KOADtcCDR/lw8/b50ZuQptqOIm7YwYIMJUNm5x4iwClJfhF2DV/hlRP8ieS46qgS852EVVytexokrttSpFY6zossQThFvYIQhKvQEsmeSnkYCDNeiLYJAC74LgwA6FhOslu7JaYAAAAAElFTkSuQmCC') !important;
        }
    }
    .slick-prev{
        margin-left: 1%;
        &:hover{
            background: #FFAC9A !important;
        }
    }
    .slick-next{
        transform: translateY(-50%) rotate(180deg);
        margin-right: 1%;
        &:hover{
            background: #FFAC9A !important;
        }
    }
    .overlay-text-parent--mobile-stack {
        .overlay-text{
            .overlay-text__inner{
                .overlay-text__text{
                    @media (max-width: 767px){
                        text-align: left !important;
                    }
                }
            }
        }
    }
    .overlay-text{
        width: 45%;
        margin-left: 5%;
        color: #000;
        h2{
            font-size: 52px;
        }
        .overlay-text__rte {
            @media (min-width: 1200px){
                width: 35vw;
            }
            p{
            font-size: 20px;
            font-weight: 600;
            }
        }
        .overlay-text__button{
            width: 268px;
            padding: 15px 0;
            border-radius: 30px;
            // background: #F3B09F !important;
            text-transform: uppercase;
            // color: #fff;
            // font-size: 20px;
            font-weight: bold;
            @media (max-width: 767px){
                background: #6EC59F !important;
                color: #fff !important;
            }
        }
        @media (max-width: 767px){
            width: 100% !important;
            background: #F2F2F3;
            margin-left: 0;
            text-align: left;
        // .slick-dots{
        //     display: none !important;
        // }
        // .slick-track{
        //     &::before, &::after{
        //         z-index: 999;
        //         content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAALxJREFUSEu1lIENRVAMRdmMSRjhb4RN2MAo3wZ6eaQRtPRq8iLivnMSaZtnz6qVeC8HT1flrtQaArRK+TKJzOtegYZ3Qq1Ncgp4BK/hcFiCENwShOF3Agr8SkCDnwmo8KOADtcCDR/lw8/b50ZuQptqOIm7YwYIMJUNm5x4iwClJfhF2DV/hlRP8ieS46qgS852EVVytexokrttSpFY6zossQThFvYIQhKvQEsmeSnkYCDNeiLYJAC74LgwA6FhOslu7JaYAAAAAElFTkSuQmCC') !important;
        //     }
        //     &::after{
        //         transform: translateY(-50%) rotate(180deg);
        //     }
        // }
        }
    }
}