#waitlistDrawerContainer{
    .waitlist_signup_container{
        height: 100%;
        .waitlist_signup{
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            form{
                .form-body{
                    .signup-form-headline{
                        font-size: 22px;
                        font-weight: 400;
                        p{
                            margin-bottom: 0 !important;
                        }
                    }
                    .form-input-email{
                        width: 100%;
                        border-radius: 40px;
                        margin: 20px 0;
                    }
                    .form_checkbox{
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 20px;
                        div{
                            margin: 5px 20px;
                        }
                        label{
                            font-size: 16px;
                        }
                    }
                    .form-actions{
                        width: 100%;
                        text-align: center;
                        justify-content: center;
                        border-radius: 40px;
                        .join_waitlist_button{
                            font-size: 20px;
                            font-weight: 700;
                            &:hover{
                                background: unset;
                                border: none;
                            }
                        }
                    }
                }
            }
        }
    }
}